<div class="container">

  <h4>Tarefas</h4>
  <br/>

  <div class="row">
    <%= link_to 'Nova Tarefa', new_task_path, remote: true, class: 'btn btn-primary' %>
  </div>

  <br/>

  <%= form_tag tasks_path, :method => 'get', :id => 'tasks_search' do %>

    <div class="input-group col-sm-4">
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
            <%= submit_tag 'Search', :name => nil, class: 'btn btn-default' %>
        </span>
    </div>

    <div class="row" id="tasks"><%= render 'tasks' %></div>

  <% end %>

</div>

<% content_for :head do %>
    <script type="text/javascript">
        <%= render :partial => 'index.js' %>
    </script>
<% end %>