<% is_admin     = just_for_admin_user %>
<%= origin      = params[:origin] %>
<%= vehicle_id  = params[:vehicle_id] %>

var rowContent = '<tr>' +
        '<td><%= @task_details.name %></td>' +
        '<td><%= @work_task.description %></td>' +
        '<td><%= @work_task.ut %></td>' +

        '<td><%= work_tasks_finished_cell(@work_task.finished, @work_task.finished_at, @work_task.id) %></td>' +

        // o read_only is false because is a new item
        '<%= work_tasks_items_button(@work_task.id, @work_task.work_id, vehicle_id, origin, false) %>' +

        '<%= work_tasks_edit_button(is_admin, @work_task.id) %>' +

        '<%= work_tasks_delete_button(is_admin, false, @work_task.id) %>' +

        '</tr>';

insertRowAfter('work_task_tbody', rowContent);

// close create/edit modal
$('#addEditModal').modal('hide');