<%= hidden_field_tag :table_row_position %>

<% is_admin = just_for_admin_user %>

<div class="container">

  <h4>
    Veiculo
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    Obras
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <b>Tarefas</b>
  </h4>
  <br/>

  <div class="row">
    <%= go_back_link(params[:origin]) %>
    <%= link_to 'Adicionar Tarefa', new_work_task_path(params: { work_id: @work_id, origin: params[:origin] }), remote: true, class: 'btn btn-primary', id: 'new_task_link' %>
  </div>

  <div class="row">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ut</th>

        <th>Estado da Tarefa</th>
        <th></th>
        <%= tag(:th, colspan: '2') if is_admin %>
        <th></th>

      </tr>
      </thead>

      <tbody id="work_task_tbody">
      <% @work_tasks.each do |work_task| %>
          <% is_read_only = is_read_only?(work_task.finished) %>

          <tr>
            <td><%= work_task.name %></td>
            <td><%= work_task.description %></td>
            <td><%= get_work_task_labor(work_task.id) %></td>

            <td><%= work_tasks_finished_cell(work_task.finished, work_task.finished_at, work_task.id) %></td>

            <%= work_tasks_items_button(work_task.id, @work_id, params[:vehicle_id], work_task.finished, params[:origin]) %>

            <%= work_tasks_edit_button(is_admin, work_task.id, work_task.task_id, params[:origin]) %>

            <%= work_tasks_delete_button(is_admin, is_read_only, work_task.id) %>

            <%= work_tasks_labor_button(work_task.id, is_read_only, @work_id, params[:vehicle_id], params[:origin]) %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>