<%= hidden_field_tag :table_row_position %>

<div class="container">

  <div class="row">
    <%= link_to 'Back', works_path(params: { vehicle_id: params[:vehicle_id] }), class: 'btn btn-primary' %>
    <%= link_to 'Adicionar Tarefa', new_work_task_path(params: { work_id: @work_id }), remote: true, class: 'btn btn-primary' %>
  </div>

  <div class="row">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ut</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody id="work_task_tbody">
      <% @work_tasks.each do |work_task| %>
          <tr>
            <td><%= work_task.name %></td>
            <td><%= work_task.description %></td>
            <td><%= work_task.ut %></td>

            <td><%= link_to 'Items', task_items_path(params: { work_task_id: work_task.id, work_id: @work_id, vehicle_id: params[:vehicle_id] }), class: 'btn btn-info' %></td>
            <td><%= link_to 'Editar', edit_work_task_path(work_task.id), remote: true, class: 'update_post btn btn-warning' %></td>
            <td><%= link_to 'Eliminar', work_task_path(work_task.id), method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>