<h1>Obra</h1>

<table class="table">
  <thead>
  <tr>
    <th>descrição</th>
    <th>notas</th>
    <th>trabalho terminado?</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody id="work_tbody">
  <% @works.each do |work| %>
      <tr>
        <td><%= work.description %></td>
        <td><%= work.notes %></td>
        <td><%= work.finished %></td>

        <td><%= link_to 'Show Tasks', work_tasks_path(params: { work_id: work.id }) %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: :delete_post %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'form', locals: { remote: true, vehicle_id: params[:vehicle_id] } %>