<%= hidden_field_tag :table_row_position %>

<% you_are_admin = just_for_admin_user %>

<div class="container">

  <div class="row">
    <%= link_to 'Back', vehicles_path, class: 'btn btn-primary' %>
    <%= (link_to 'Nova Obra', new_work_path(params: { vehicle_id: params[:vehicle_id] }), remote: true, class: 'btn btn-primary') if you_are_admin %>
  </div>

  <div class="row">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>descrição</th>
        <th>notas</th>
        <th>terminada?</th>

        <%= tag(:th, colspan: (you_are_admin ? 3 : 1)) %>

      </tr>
      </thead>

      <tbody id="work_tbody">
      <% @works.each do |work| %>
          <tr>
            <td><%= work.description %></td>
            <td><%= work.notes %></td>
            <td><%= work.finished ? 'sim' : 'não' %></td>

            <td><%= link_to 'Tarefas', work_tasks_path(params: { work_id: work.id, vehicle_id: params[:vehicle_id] }), class: 'btn btn-info' %></td>

            <%= content_tag(:td, (link_to 'Editar', edit_work_path(work), remote: true, class: 'update_post btn btn-warning')) if you_are_admin %>
            <%= content_tag(:td, (link_to 'Eliminar', work, method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger')) if you_are_admin %>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>






