<%= hidden_field_tag :table_row_position %>

<% you_are_admin = just_for_admin_user %>

<div class="container">

  <h4>
    Veiculo<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <b>Obras</b>
  </h4>
  <br/>

  <div class="row">
    <%= link_to 'Back', vehicles_path, class: 'btn btn-primary' %>
    <%= (link_to 'Nova Obra', new_work_path(params: { vehicle_id: params[:vehicle_id] }), remote: true, class: 'btn btn-primary') if you_are_admin %>
  </div>

  <div class="row">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="2" class="cell_center">data</th>

        <%= tag(:th, colspan: (you_are_admin ? 4 : 1)) %>
      </tr>
      <tr>
        <th>descrição</th>
        <th>notas</th>
        <th>terminada?</th>

        <th>criação</th>
        <th>terminação</th>

        <%= tag(:th, colspan: (you_are_admin ? 4 : 1)) %>

      </tr>
      </thead>

      <tbody id="work_tbody">
      <% @works.each do |work| %>
          <tr>
            <td><%= work.description %></td>
            <td><%= work.notes %></td>
            <td><%= work.finished ? 'sim' : 'não' %></td>

            <td><%= work.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= work.finished ? work.finished_at.strftime('%Y-%m-%d') : '' %></td>

            <td><%= link_to 'Tarefas', work_tasks_path(params: { work_id: work.id, vehicle_id: params[:vehicle_id], origin: 'from_works' }), class: 'btn btn-info' %></td>

            <%= content_tag(:td, (link_to 'Editar', edit_work_path(work), remote: true, class: 'update_post btn btn-warning')) if you_are_admin %>
            <%= content_tag(:td, (link_to 'Eliminar', work, method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger')) if you_are_admin %>

            <%= content_tag(:td, (link_to (tag(:span, class: 'glyphicon glyphicon-download', aria: { hidden: 'true' })), download_work_report_works_path(format: 'xlsx', params: { vehicle_id: params[:vehicle_id], work_id: work.id }), class: 'btn btn-primary')) if you_are_admin %>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>