<div class="container">

  <h4>Utilizadores</h4>
  <br/>

  <div class="row">
    <%= link_to 'Novo Utilizador', new_user_path, remote: true, class: 'btn btn-primary' %>
  </div>

  <br/>

  <%= form_tag users_path, :method => 'get', :id => 'users_search' do %>

      <div class="input-group col-sm-4">
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', :name => nil, class: 'btn btn-default' %>
        </span>
      </div>

      <div id="users" class="row"><%= render 'users' %></div>
  <% end %>
</div>

<% content_for :head do %>
    <script type="text/javascript">
        <%= render :partial => 'index.js' %>
    </script>
<% end %>