<% you_are_admin = just_for_admin_user %>

var rowContent = '<tr>' +
        '<td><%= @work.id %></td>' +
        '<td><%= @work.description %></td>' +
        '<td><%= @work.notes %></td>' +
        '<td><%= @work.finished ? 'sim' : 'não' %></td>' +
        '<td><%= @work.start_work_at.strftime('%Y-%m-%d') %></td>' +
        '<td></td>' +

        '<td><%= link_to 'Tarefas', simple_jobs_tasks_path(params: { work_id: @work.id }), class: 'btn btn-info' %></td>' +

        '<%= content_tag(:td, (link_to 'Editar', edit_simple_jobs_work_path(@work.id.to_s), remote: true, class: 'update_post btn btn-warning')) if you_are_admin %>' +
        '<%= content_tag(:td, (link_to 'Eliminar', simple_jobs_work_path(@work.id.to_s), method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger')) if you_are_admin %>' +

        '</tr>';

insertRowAfter('simple_work_tbody', rowContent);

// close create/edit modal
$('#addEditModal').modal('hide');