<div class="container">

  <div class="row">
    <div class="field">
      <%= label_tag 'Item do Stock:' %> <br>

      <%= build_stock_item_name(stock_item_name) %> <br><br>

      <%= form_tag stock_item_selectors_path, :method => 'get', :id => 'stock_item_selectors_search' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag 'Search', :name => nil, :id => 'search_submit_tag' %>
          </p>
          <div id="stock_item_selectors"><%= render 'stock_item_selectors/stock_item_selectors' %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= form_for(@task_item, remote: true) do |f| %>
        <% if work_task_id != nil %>
            <%= f.hidden_field :work_task_id, value: work_task_id %>
        <% else %>
            <%= f.hidden_field :work_task_id %>
        <% end %>

        <%= f.hidden_field :user_id, value: current_user_id %>

        <%= f.hidden_field :stock_item_id %>

        <div class="field">
          <%= f.label 'Observações:' %> <br>
          <%= f.text_field :note %>
        </div>

        <div class="field">
          <%= f.label 'quantidade:' %> <br/>
          <%= f.text_field :qtd %>
        </div>

        <%= f.submit %>
    <% end %>
  </div>

</div>


<script type="text/javascript">
    <%= render :partial => 'stock_item_selector' %>
</script>

<style>
    #stock_item_selectors {
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 60%;
    }

    #stock_item_selectors_search {
        margin-bottom: 10px;
    }
</style>
