<div class="forms_table">
  <div class="form_row">
    <div class="field">
      <%= label_tag 'Item do Stock:' %> <br>

      <%= build_stock_item_name(stock_item_name) %> <br><br>

      <%= form_tag stock_item_selectors_path, :method => 'get', :id => 'stock_item_selectors_search' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag 'Search', :name => nil, :id => 'search_submit_tag' %>
          </p>
          <div id="stock_item_selectors"><%= render 'stock_item_selectors/stock_item_selectors' %></div>
      <% end %>
    </div>
  </div>
  <div class="form_row">
    <%= form_for(@task_item, remote: true) do |f| %>
        <% if @task_item.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@task_item.errors.count, 'error') %>:</h2>

              <ul>
                <% @task_item.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <% if work_task_id != nil %>
            <%= f.hidden_field :work_task_id, value: work_task_id %>
        <% else %>
            <%= f.hidden_field :work_task_id %>
        <% end %>

        <%= f.hidden_field :user_id, value: current_user_id %>

        <%= f.hidden_field :stock_item_id %>

        <div class="field">
          <%= f.label 'Observações:' %> <br>
          <%= f.text_field :note %>
        </div>

        <div class="field">
          <%= f.label 'quantidade:' %> <br/>
          <%= f.text_field :qtd %>
        </div>

        <%= f.submit %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
    <%= render :partial => 'stock_item_selector' %>
</script>

<style>
    #stock_item_selectors {
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 60%;
    }

    #stock_item_selectors_search {
        margin-bottom: 10px;
    }

    .forms_table {
        display: table;
        width: 100%;
    }

    .form_row  {
        display: table-row;
    }
</style>
