<h1>Obra - Tarefas</h1>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Qtd</th>
    <th>Descrição</th>
    <th>Responsável</th>
    <th>Observações</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody id="task_item_tbody">
  <% @task_items.each do |task_item| %>
      <tr>
        <td><%= task_item.code %></td>
        <td><%= task_item.qtd %></td>
        <td><%= task_item.item_name %></td>
        <td><%= task_item.user_name %></td>
        <td><%= task_item.note %></td>

        <td><%= link_to 'Edit', edit_task_item_path(task_item), remote: true, class: :update_post %></td>
        <td><%= link_to 'Destroy', task_item_path(task_item), method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: :delete_post %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= hidden_field_tag :table_row_position %>

<%= link_to 'New Item', new_task_item_path(params: { work_task_id: @work_task_id }), remote: true %>

<div id="container"></div>