<%= form_for(@vehicle, remote: true) do |f| %>
    <div class="field">
      <%= f.label 'tipo de veiculo:' %><br>
      <%= f.select(:vehicle_type_id, vehicle_type_list, :prompt => 'Selecionar') %>
    </div>

    <div class="field">
      <%= f.label 'descrição:' %><br>
      <%= f.text_field :description %>
    </div>

    <%= f.submit %>
<% end %>