<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :table_row_position %>

<% you_are_admin = just_for_admin_user %>

<table class="table table-condensed">
    <thead id="stock_items_thead">
        <tr>
          <th><%= sortable(:sort, :direction, 'created_at','code','Codigo', true) %></th>
          <th><%= sortable(:sort, :direction, 'created_at','name','Nome', true) %></th>
          <th><%= sortable(:sort, :direction, 'created_at','description','Descrição', true) %></th>
          <th><%= sortable(:sort, :direction, 'created_at','qtd','Quantidade', true) %></th>
          <th><%= sortable(:sort, :direction, 'created_at','qtd_min','Quantidade Minima', true) %></th>
          <th><%= sortable(:sort, :direction, 'created_at','item_categories.name','Categoria', true) %></th>

          <th colspan="3"></th>

          <%= tag(:th, colspan: (you_are_admin ? 2 : 1)) %>

        </tr>
    </thead>

    <tbody id="stock_items_tbody">
    <% @stock_items.each do |stock_item| %>
        <tr>
          <td><%= stock_item.code %></td>
          <td><%= stock_item.name %></td>
          <td><%= stock_item.description %></td>
          <td><%= stock_item.qtd %></td>
          <td><%= stock_item.qtd_min %></td>
          <td><%= stock_item.cat_name %></td>

          <td><%= link_to 'Editar', edit_stock_item_path(stock_item), remote: true, class: 'update_post btn btn-warning' %></td>
          <%= content_tag(:td, (link_to 'Eliminar', stock_item, method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger')) if you_are_admin %>

        </tr>
    <% end %>
    </tbody>
</table>

<%= will_paginate @stock_items %>

