<div class="container">
    <div class="row">
      <%= link_to 'Novo Item', new_stock_item_path, remote: true, class: 'btn btn-primary' %>
    </div>

    <br/>

    <%= form_tag stock_items_path, :method => 'get', :id => 'stock_items_search' do %>
      <div class="row">
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', :name => nil %>
        </p>
      </div>

      <div id="stock_items" class="row"><%= render 'stock_items' %></div>
    <% end %>

</div>


<div id="form_container"></div>

<% content_for :head do %>
    <script type="text/javascript">
        <%= render :partial => 'index.js' %>
    </script>
<% end %>