<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'VehicleWorkManager' %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body class="controller-<%= params[:controller] %>">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= brand %>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Stock', '/stock_items' %></li>
            <li><%= link_to 'Veiculos', '/vehicles' %></li>
            <li><%= link_to 'Tarefas', '/tasks' %></li>

            <%= admin_operations %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li data-no-turbolink><%= link_to 'Logout', '/logout' %></li>
          </ul>
        </div>

      </div>
    </div>

    <%= bootstrap_flash %>

    <%= yield %>

    <%= render partial: 'layouts/partials/error_popup' %>

    <%= render partial: 'layouts/partials/add_and_edit_popup' %>

</body>
</html>

